* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.no-webp .wrapper {
  background-image: url("../img/bg.jpeg"); }

.wrapper {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .wrapper { background-image: url(../img/bg.webp); }