.card {
    position: relative;
    width: 125px;
    height: 175px;

    transition: all 0.8s;

    overflow: hidden;

    &:hover .snowflake-1 {
        animation: 5s ease-in infinite snow;
    }
    &:hover .snowflake-2 {
        animation: 7s ease-in infinite snow;
    }
    &:hover .snowflake-3 {
        animation: 6s ease-in infinite snow;
    }
    &:hover .snowflake-4 {
        animation: 8s ease-in infinite snow;
    }
    &:hover .snowflake-5 {
        animation: 5s ease-in infinite snow;
    }
    &:hover .snowflake-6 {
        animation: 8s ease-in infinite snow;
    }
    &:hover .snowflake-7 {
        animation: 6s ease-in infinite snow;
    }
    &:hover .snowflake-8 {
        animation: 8s ease-in infinite snow;
    }
    &:hover .snowflake-9 {
        animation: 7s ease-in infinite snow;
    }
    &:hover .snowflake-10 {
        animation: 5s ease-in infinite snow;
    }

    &.active .back-face {
        transform: rotateY(180deg);
    }

    &.active .front-face {
        transform: rotateY(0);
    }

    &.active .snowflake {
        &-1 {
            animation: 5s ease-in infinite snow;
        }
        &-2 {
            animation: 7s ease-in infinite snow;
        }
        &-3 {
            animation: 6s ease-in infinite snow;
        }
        &-4 {
            animation: 8s ease-in infinite snow;
        }
        &-5 {
            animation: 5s ease-in infinite snow;
        }
        &-6 {
            animation: 8s ease-in infinite snow;
        }
        &-7 {
            animation: 6s ease-in infinite snow;
        }
        &-8 {
            animation: 8s ease-in infinite snow;
        }
        &-9 {
            animation: 7s ease-in infinite snow;
        }
        &-10 {
            animation: 5s ease-in infinite snow;
        }
    }

    &.matched .icon {
        animation: 1s linear infinite dance 0.5s;
    }
}

.snowflake {
    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    opacity: 0;

    &-1 {
        top: 15px;
        left: 15px;
    }

    &-2 {
        top: 17px;
        left: 63px;
    }

    &-3 {
        top: 28px;
        left: 98px;
    }

    &-4 {
        top: 55px;
        left: 25px;
    }

    &-5 {
        top: 61px;
        left: 68px;
    }

    &-6 {
        top: 90px;
        left: 100px;
    }

    &-7 {
        top: 94px;
        left: 13px;
    }

    &-8 {
        top: 107px;
        left: 58px;
    }

    &-9 {
        top: 137px;
        left: 27px;
    }

    &-10 {
        top: 142px;
        left: 88px;
    }
}

.face {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.5);

    overflow: hidden;
    backface-visibility: hidden;

    transition: transform 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.4);
    }

    &:active {
        border-radius: 11px;
    }
}

.back-face {
    &:hover .icon {
        animation: 0.6s ease-in backIcon;
    }
}

.front-face {
    transform: rotateY(180deg);

    &:hover .icon {
        scale: 1.1;
        transition: all 0.8s;
    }
}

.icon {
    width: 90px;
    height: 90px;

    transition: all 0.3s;
}

@keyframes dance {
    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }
}

@keyframes snow {
    0% {
        transform: translateY(-155px);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes backIcon {
    0%, 
    100%{
        transform: translateY(0);
    }

    33% {
        transform: translateY(-2px);
    }

    66% {
        transform: translateY(2px);
    }
}
