main {
    font-family: "Dancing Script";
}

.title {
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5rem;
    text-align: center;

    font-weight: bold;
    text-transform: capitalize;
}

.game-container {
    // padding: 0 30px 30px 30px;
    padding: 30px;

    font-size: 1.9rem;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 10px;

    perspective: 500px;
}

.game-info-container {
    grid-column: 1 / -1;
    text-align: center;

    & > div {
        margin-bottom: 20px;
    }
}

.game-refresh {
    padding: 5px 0;

    border-radius: 8px;

    color: rgb(52, 52, 52);
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.4s ease-in;

    &:hover {
        cursor: pointer;

        color: rgb(233, 233, 233);

        background: linear-gradient(to left, rgba(46, 70, 203, 0.9), rgba(209, 203, 91, 0.9));
    }

    &:active {
        border-radius: 11px;
        color: rgb(233, 233, 233);
        background: linear-gradient(to left, rgba(15, 43, 198, 0.9), rgba(212, 202, 20, 0.9));

        transition: all 0.8s;
    }
}

#timer,
#flips {
    margin-left: 5px;
}

@media (min-width: 680px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
    }

    .game-info-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;

        & > * {
            align-self: center;
        }
    }

    .game-refresh {
        grid-column: 4;
    }
}
